RewriteEngine On

# catch the longer URL first -- with /countryId/
RewriteRule ^countries/([A-Za-z0-9-]+)/?$ countries.php?id=$1 [NC,L]
# No /countryId/
RewriteRule ^countries?$ countries.php [NC,L]

RewriteRule ^regions/([A-Za-z0-9-]+)/?$ regions.php?countryId=$1 [NC,L]
RewriteRule ^regions?$ regions.php [NC,L]

RewriteRule ^cities/([A-Za-z0-9-]+)/?$ cities.php?regionId=$1 [NC,L]
RewriteRule ^cities?$ cities.php [NC,L]


#RewriteRule ^home/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ home.php?startDate=$1&endDate=$2 [NC,L]
#RewriteRule ^home/([A-Za-z0-9-]+)/?$ home.php?startDate=$1 [NC,L]
#RewriteRule ^home?$ home.php [NC,L]

RewriteRule ^shops?$ shops.php [NC,L]

RewriteRule ^shopDetails?$ shopDetails.php [NC,L]
RewriteRule ^consumptionByShops?$ consumptionByShops.php [NC,L]