@import '../../styles/settings/colorVariables';

.homePageShopsProgressHolder {
	margin: auto;
	text-align: center;
}

.homePageShopsEmptyWrapper {
	text-align: center;
	padding: 2em;
}
.homePageShopsEmptyHolder {
	display: inline-block;
}
