body {
	font: 16px 'Roboto', Helvetica, Arial, sans-serif;
}

p {
	font-size: 1em; /* 16px */
	line-height: 1.5000em; /* 24px */
	margin: 0 0 1.5000em 0;
}
/* 30px - The quick brown fox jumps over the lazy dog */
h1,
.class-for-30px {
	font-size: 1.8750em; /* 30px */
	line-height: 1.6000em; /* 48px */
	margin-top: 0.8000em;  margin-bottom: 0.0000em;
}
/* 26px - The quick brown fox jumps over the lazy dog */
h2,
.class-for-26px {
	font-size: 1.6250em; /* 26px */
	line-height: 1.8462em; /* 48px */
	margin-top: 0.9231em;  margin-bottom: 0.0000em;
}
/* 22px - The quick brown fox jumps over the lazy dog */
h3,
.class-for-22px {
	font-size: 1.3750em; /* 22px */
	line-height: 1.0909em; /* 24px */
	margin-top: 1.0909em;  margin-bottom: 0.0000em;
}
/* 20px - The quick brown fox jumps over the lazy dog */
h4,
.class-for-20px {
	font-size: 1.2500em; /* 20px */
	line-height: 1.2000em; /* 24px */
	margin-top: 1.2000em;  margin-bottom: 0.0000em;
}
/* 18px - The quick brown fox jumps over the lazy dog */
h5,
.class-for-18px {
	font-size: 1.1250em; /* 18px */
	line-height: 1.3333em; /* 24px */
	margin-top: 1.3333em;  margin-bottom: 0.0000em;
}
/* 16px - The quick brown fox jumps over the lazy dog */
h6,
.class-for-16px {
	font-size: 1.0000em; /* 16px */
	line-height: 1.5000em; /* 24px */
	margin-top: 1.5000em;  margin-bottom: 0.0000em;
}
